# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=him@123
DB_NAME=portfolio

# Email Configuration (Gmail App Password)
EMAIL_USER=himanshumishra1075@gmail.com
EMAIL_PASS=1Pnl@20615

# Server Port
PORT=3000
